<a href="https://colab.research.google.com/github/MBdjLOTR/Tech-cohort-26/blob/main/Lab9.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
x=input('enter the station name:')
y= int(input('Enter the number of trains:'))
d1=dict()
d2={}
for z in range(y):
  a=input('enter train name:')
  b= int(input('Enter the number of carriages:'))
  d3={}
  for c in range(b):
    coach=input("Enter coach number:")
    n=int(input("Enter the number of passengers:"))
    d3[coach]=n
  d2[a]=d3
d1[x]=d2
print(d1)

enter the station name:Kolkata
Enter the number of trains:2
enter train name:Duronto Express
Enter the number of carriages:2
Enter coach number:D3
Enter the number of passengers:45
Enter coach number:D40
Enter the number of passengers:40
enter train name:Sealdah Express
Enter the number of carriages:2
Enter coach number:E3
Enter the number of passengers:45
Enter coach number:E5
Enter the number of passengers:54
{'Kolkata': {'Duronto Express': {'D3': 45, 'D40': 40}, 'Sealdah Express': {'E3': 45, 'E5': 54}}}

In [10]:
def merge(d1,d2):
  d={}
  priority_dictionary=int(input('Enter the dictionary number that takes priority in case the same key  exists in both dictionaries:'))
  for x in d1:
    if x in d2:
      if priority_dictionary==1:
        d[x]=d1[x]
      else:
        d[x]=d2[x]
    else:
      d[x]=d1[x]
  for x in d2:
    if x not in d1:
      d[x]=d2[x]
  print('The merged dictionary is: ')
  return d
d1=eval(input('Enter dictionary 1:'))
d2=eval(input('Enter dictionary 2:'))
merge(d1,d2)

Enter dictionary 1:{1:'one',2:'two'}
Enter dictionary 2:{'one':1,2:'Three','Three':3}
Enter the dictionary number that takes priority in case the same key  exists in both dictionaries:2
The merged dictionary is:

{1: 'one', 2: 'Three', 'one': 1, 'Three': 3}